MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=ghost
MYSQL_USER=ghost
MYSQL_PASSWORD=change_me_ghost_password

GHOST_URL=https://blog.tudominio.com

TUNNEL_TOKEN=pegar_aqui_el_token_de_cloudflare_zero_trust
